Repository hotosm/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, dependency, documentation

.github/labeler.yml:

"devops":
  - ".github/**/*"
"dependency":
  - "package.json"
  - "pnpm-lock.yaml"
"documentation":
  - ".storybook/**/*"
  - "README.md"

bump: version 0.3.4b3 → 0.4.0
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

docs: add tyler to core contributor list
  package.json
Labels: dependency

Added Tests For Logo and Consent Components.
  tests/components/consent.spec.ts
  tests/components/header.spec.ts
  tests/components/logo.spec.ts
Labels: none

docs: fix docs usage via cdn
  README.md
Labels: documentation

docs: improve docs for cdn based usage
  README.md
Labels: documentation

+ Implement UI Design styling
  .storybook/stories/1_color.mdx
  package.json
  pnpm-lock.yaml
  src/components/consent/consent.component.ts
  src/components/consent/consent.styles.ts
  src/components/file-input-dropzone/file-input-dropzone.styles.ts
  src/components/header/header.styles.ts
  src/components/list-card/list-card.styles.ts
  src/components/tracking/tracking.component.ts
  src/style.css
  src/themes/hot.css
Labels: dependency, documentation

shared menu with temporary icons
  .storybook/stories/shared-menu.stories.ts
  src/components/shared-menu/assets/icon-chatmap.png
  src/components/shared-menu/assets/icon-drone.png
  src/components/shared-menu/assets/icon-export.png
  src/components/shared-menu/assets/icon-fair.png
  src/components/shared-menu/assets/icon-field.png
  src/components/shared-menu/assets/icon-oam.png
  src/components/shared-menu/assets/icon-tm.png
  src/components/shared-menu/assets/icon-umap.png
  src/components/shared-menu/shared-menu.component.ts
  src/components/shared-menu/shared-menu.styles.ts
  src/hotosm-ui.ts
Labels: documentation

Remove old styles file, add story for testing buttons
  .storybook/stories/button.stories.ts
  src/style.css
  src/themes/hot-wa.css
Labels: documentation

replace icons with white svgs to avoid confusion
  src/components/shared-menu/assets/grid-icon.svg
  src/components/shared-menu/assets/icon-chatmap.png
  src/components/shared-menu/assets/icon-chatmap.svg
  src/components/shared-menu/assets/icon-drone.png
  src/components/shared-menu/assets/icon-drone.svg
  src/components/shared-menu/assets/icon-export.png
  src/components/shared-menu/assets/icon-export.svg
  src/components/shared-menu/assets/icon-fair.png
  src/components/shared-menu/assets/icon-fair.svg
  src/components/shared-menu/assets/icon-field.png
  src/components/shared-menu/assets/icon-field.svg
  src/components/shared-menu/assets/icon-oam.png
  src/components/shared-menu/assets/icon-oam.svg
  src/components/shared-menu/assets/icon-tm.png
  src/components/shared-menu/assets/icon-tm.svg
  src/components/shared-menu/assets/icon-umap.png
  src/components/shared-menu/assets/icon-umap.svg
Labels: none

replace icons imports
  src/components/shared-menu/shared-menu.component.ts
Labels: none

add page content shift issue
  .storybook/stories/shared-menu.stories.ts
Labels: documentation

fix styling issues
  src/components/shared-menu/shared-menu.styles.ts
Labels: none

change naming - add name to export for consistency
  .storybook/stories/tool-menu.stories.ts
  src/components/tool-menu/assets/grid-icon.svg
  src/components/tool-menu/assets/icon-chatmap.svg
  src/components/tool-menu/assets/icon-drone.svg
  src/components/tool-menu/assets/icon-export.svg
  src/components/tool-menu/assets/icon-fair.svg
  src/components/tool-menu/assets/icon-field.svg
  src/components/tool-menu/assets/icon-oam.svg
  src/components/tool-menu/assets/icon-tm.svg
  src/components/tool-menu/assets/icon-umap.svg
  src/components/tool-menu/tool-menu.component.ts
  src/components/tool-menu/tool-menu.styles.ts
  src/components/tool-menu/tool-menu.ts
  src/hotosm-ui.ts
Labels: documentation

Change export for consistency
  src/components/tool-menu/tool-menu.component.ts
Labels: none

bump: version 0.4.0 → 0.5.0
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

style: fix markdownlint issues for ci
  README.md
Labels: documentation

fix: fix #72 fix #165 fix #171 fix #172
  README.md
  examples/debug-shadow-dom.html
  examples/shadow-dom-color-injection-demo.html
  examples/simple-test.html
  header.md
  package.json
  pnpm-lock.yaml
  src/components/consent/consent.styles.ts
  src/components/consent/consent.ts
  src/components/file-input-dropzone/file-input-dropzone.ts
  src/components/header/header.component.ts
  src/components/header/header.ts
  src/components/icons.ts
  src/components/list-card/list-card.ts
  src/components/logo/logo.ts
  src/components/tool-menu/tool-menu.ts
  src/components/tracking/tracking.component.ts
  src/components/tracking/tracking.ts
  src/style.css
  src/themes/hot-wa.css
  tsconfig.prod.json
Labels: dependency, documentation

bump: version 0.5.0 → 0.6.0
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

ci: remove need for NPM_TOKEN in ci publish
  .github/workflows/publish.yml
Labels: devops

build: relock deps
  pnpm-lock.yaml
Labels: dependency

fix: ensure styles css included in esbuild bundling
  .gitignore
  scripts/build.js
Labels: none

bump: version 0.6.0 → 0.6.1
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

ci: add id-token permission for npm publish
  .github/workflows/publish.yml
Labels: devops

ci: update npm publish workflow versions
  .github/workflows/publish.yml
Labels: devops

build: pin pnpm version in packages.json
  .github/workflows/publish.yml
  package.json
Labels: devops, dependency

ci: bumps to npm publish pipeline for fixes
  .github/workflows/publish.yml
Labels: devops

fix: fix #68 by adding two style css file options
  package.json
  scripts/build.js
  src/style-core.css
Labels: dependency

fix: fixes to component registration
  README.md
  header.md
  src/components/consent/consent.component.ts
  src/components/file-input-dropzone/file-input-dropzone.component.ts
  src/components/header/header.component.ts
  src/components/list-card/list-card.component.ts
  src/components/tool-menu/tool-menu.component.ts
  src/components/tracking/tracking.component.ts
Labels: documentation

build: add quick dist server for localhost tests
  package.json
  scripts/serve-dist.mjs
Labels: dependency

feat: fix all wa style tokens, better dev docs, storybooks, booleans default all false
  .storybook/preview.ts
  .storybook/static/osm-auth-test/index.html
  .storybook/static/test.html
  .storybook/stories/0_index.mdx
  .storybook/stories/2_typography.mdx
  .storybook/stories/consent.stories.ts
  .storybook/stories/file-input-dropzone.stories.ts
  .storybook/stories/header.stories.ts
  .storybook/stories/list-card.stories.ts
  .storybook/stories/logo.stories.ts
  .storybook/stories/tool-menu.stories.ts
  .storybook/stories/tracking.stories.ts
  README.md
  examples/shadow-dom-css-demo.html
  header.md
  src/components/consent/consent.component.ts
  src/components/consent/consent.styles.ts
  src/components/file-input-dropzone/file-input-dropzone.component.ts
  src/components/file-input-dropzone/file-input-dropzone.styles.ts
  src/components/header/header.component.ts
  src/components/header/header.styles.ts
  src/components/list-card/list-card.component.ts
  src/components/list-card/list-card.styles.ts
  src/components/logo/logo.component.ts
  src/components/tool-menu/assets/icon-chatmap.svg
  src/components/tool-menu/assets/icon-drone.svg
  src/components/tool-menu/assets/icon-export.svg
  src/components/tool-menu/assets/icon-fair.svg
  src/components/tool-menu/assets/icon-field.svg
  src/components/tool-menu/assets/icon-oam.svg
  src/components/tool-menu/assets/icon-tm.svg
  src/components/tool-menu/assets/icon-umap.svg
  src/components/tool-menu/tool-menu.styles.ts
  src/components/tracking/tracking.component.ts
  src/themes/hot-wa.css
  src/themes/hot.css
  tests/components/consent.spec.ts
Labels: documentation

bump: version 0.6.1 → 0.7.0
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

ci: gh workflow versions
  .github/workflows/cdn_deploy.yml
  .github/workflows/docs.yml
  .github/workflows/playwright.yml
  .github/workflows/publish.yml
Labels: devops

docs: add badge for test fail/pass in readme
  README.md
Labels: documentation

docs: info about fouc vs fcp, fix #177
  .storybook/stories/0_index.mdx
  .storybook/stories/3_loading_strategies.mdx
Labels: documentation

docs: remove — from docs
  .storybook/stories/2_typography.mdx
  README.md
  header.md
  src/style-core.css
  src/themes/hot-wa.css
Labels: documentation

fix: update header to align with tasking manager layout fixes #180
  .storybook/stories/header.stories.ts
  src/components/header/header.component.ts
  src/components/header/header.styles.ts
  src/components/logo/logo.styles.ts
  tests/components/header.spec.ts
Labels: documentation

bump: version 0.7.0 → 0.8.0
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

docs: add AGENTS.md for LLM based coding
  AGENTS.md
Labels: none

fix: identify current page / tab and use correct active tab
  .storybook/stories/0_index.mdx
  .storybook/stories/header.stories.ts
  README.md
  header.md
  src/components/header/header.component.ts
  src/components/header/header.styles.ts
  tests/components/header.spec.ts
Labels: documentation

bump: version 0.8.0 → 0.8.1
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency
