Repository hotosm/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, dependency, documentation

feat: package upgrade
  package.json
Labels: dependency

fix: hardcode color
  src/themes/hot.css
Labels: none

feat: version change
  package.json
Labels: dependency

test: adding shadowDom utils and css updates
  dist/chunks/chunk.6YNKD56X.js
  dist/chunks/chunk.GGX6E7QF.js
  dist/chunks/chunk.NTH75J37.js
  dist/chunks/chunk.RQCFXHIG.js
  dist/chunks/chunk.UMBUH2EC.js
  dist/chunks/chunk.WX25LIXR.js
  dist/components/header/header.component.d.ts
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/header/header.styles.js
  dist/hotosm-ui.js
  dist/themes/hot.css
  dist/utils/shadow-dom-config.d.ts
  dist/utils/shadow-dom-css.d.ts
  examples/shadow-dom-css-demo.html
  src/components/header/header.component.ts
  src/hotosm-ui.ts
  src/themes/hot.css
  src/utils/shadow-dom-css.ts
Labels: none

version: upgrade for css shadow test
  package.json
Labels: dependency

feat: drawer and tab integration
  .storybook/stories/header-login.stories.ts
  dist/assets/logo/hamburger.svg
  dist/chunks/chunk.2ULJ7GOD.js
  dist/chunks/chunk.6YNKD56X.js
  dist/chunks/chunk.D4UQX7IV.js
  dist/chunks/chunk.GGX6E7QF.js
  dist/chunks/chunk.JWXDWX4U.js
  dist/chunks/chunk.KO4EOD3I.js
  dist/chunks/chunk.KWRSAL43.js
  dist/chunks/chunk.NA5VYRZH.js
  dist/chunks/chunk.NTH75J37.js
  dist/chunks/chunk.PDA7Y3OG.js
  dist/chunks/chunk.SMFWK2VT.js
  dist/chunks/chunk.TTXUWWW4.js
  dist/chunks/chunk.UOUAH7BX.js
  dist/chunks/chunk.XV3ZU53D.js
  dist/components/button/button.component.js
  dist/components/button/button.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/header/header.component.d.ts
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/header/header.styles.js
  dist/components/icons.d.ts
  dist/components/icons.js
  dist/hotosm-ui.d.ts
  dist/hotosm-ui.js
  dist/themes/hot.css
  dist/utils/shadow-dom-config.d.ts
  dist/utils/shadow-dom-css.d.ts
  src/components/header/header.component.ts
  src/components/icons.ts
Labels: documentation

feat: package version updated
  package.json
Labels: dependency

fix: icon removal
  src/components/icons.ts
Labels: none

feat: version upgrade
  package.json
Labels: dependency

feat: shadow dom testing
  dist/assets/logo/hamburger.svg
  dist/chunks/chunk.4CUSUMKJ.js
  dist/chunks/chunk.4IHZBYNQ.js
  dist/chunks/chunk.BPPYCS7U.js
  dist/chunks/chunk.IGQ7CODZ.js
  dist/chunks/chunk.JWXDWX4U.js
  dist/chunks/chunk.M3ZIZPKF.js
  dist/chunks/chunk.PDA7Y3OG.js
  dist/chunks/chunk.SMJLJ4AN.js
  dist/chunks/chunk.T5JYZBXW.js
  dist/chunks/chunk.TTXUWWW4.js
  dist/chunks/chunk.UOUAH7BX.js
  dist/chunks/chunk.XV3ZU53D.js
  dist/components/button/button.component.js
  dist/components/button/button.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/header/header.component.d.ts
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/icons.js
  dist/hotosm-ui.js
  dist/utils/shadow-dom-css.d.ts
  src/components/header/header.component.ts
  src/utils/shadow-dom-css.ts
Labels: none

fix: version upgraed
  package.json
Labels: dependency

feat: add style override
  dist/chunks/chunk.4CUSUMKJ.js
  dist/chunks/chunk.T5JYZBXW.js
  dist/chunks/chunk.UUHEHDRS.js
  dist/chunks/chunk.XJWPNRXI.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/hotosm-ui.js
  dist/themes/hot-wa-override.css
  package.json
  src/themes/hot-wa-override.css
Labels: dependency

feat: upgrade storybook, tweak stories
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/static/osm-auth-test/index.html
  .storybook/static/test.html
  .storybook/stories/0_index.mdx
  .storybook/stories/1_color.mdx
  .storybook/stories/2_typography.mdx
  .storybook/stories/bottom-sheet.stories.ts
  .storybook/stories/button.mdx
  .storybook/stories/button.stories.ts
  .storybook/stories/consent.stories.ts
  .storybook/stories/header-login.stories.ts
  .storybook/stories/header.stories.ts
  .storybook/stories/logo.stories.ts
  .storybook/stories/tracking.stories.ts
  README.md
  dist/themes/hot-wa-override.css
  package.json
  pnpm-lock.yaml
  src/components/consent/consent.component.ts
  src/themes/hot-wa-override.css
Labels: dependency, documentation

feat: fixing override for webcomponent
  dist/chunks/chunk.G2UCG5W5.js
  dist/chunks/chunk.UUHEHDRS.js
  dist/chunks/chunk.XJWPNRXI.js
  dist/chunks/chunk.ZPH37BDZ.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/hotosm-ui.d.ts
  dist/hotosm-ui.js
  examples/debug-shadow-dom.html
  examples/shadow-dom-color-injection-demo.html
  examples/simple-test.html
  src/hotosm-ui.ts
  src/utils/shadow-dom-css.ts
Labels: none

feat: update version
  package.json
Labels: dependency

fix: overriding css
  package.json
  src/themes/hot-wa-override.css
Labels: dependency

fix: version upgrade on webawesome and commented default.
  src/style.css
  src/themes/hot-wa-override.css
Labels: none

feat: package upgrade
  package.json
Labels: dependency

feat: css parts integration
  dist/chunks/chunk.65UBVOFP.js
  dist/chunks/chunk.KYUGYPDJ.js
  dist/chunks/chunk.NTQ5XOYF.js
  dist/chunks/chunk.TPOAILO5.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/hotosm-ui.js
  dist/style.css
  dist/themes/hot-button-override.css
  package.json
  src/style.css
  src/themes/hot-button-override.css
  src/utils/shadow-dom-css.ts
Labels: dependency

refactor: remove react components from build script
  scripts/build.js
Labels: none

feat: changed hanko register URL
  package.json
  src/components/header/header.component.ts
Labels: dependency

feat: tab integration for active & other
  .storybook/stories/header.stories.ts
  src/components/header/header.component.ts
  src/components/header/header.styles.ts
Labels: documentation

feat: package upgrade
  package.json
Labels: dependency

fix: upgrade version
  package.json
Labels: dependency

feat: update node version in build yml
  .github/workflows/publish.yml
Labels: devops

fix: updated node js version in cdn_deploy
  .github/workflows/cdn_deploy.yml
Labels: devops

fix: update docs.yml
  .github/workflows/docs.yml
Labels: devops

fix: docs.yml build for version upgrade
  .github/workflows/docs.yml
Labels: devops

fix: docs.yml build for version upgrade
  .github/workflows/docs.yml
Labels: devops

feat: package version upgrade
  package.json
Labels: dependency

changed url to dev.login to test
  package.json
  src/components/header/header.component.ts
Labels: dependency

feat: header full documentation
  README.md
  header.md
Labels: documentation

fix: precommit lint
  header.md
Labels: none

fix lint
  header.md
Labels: none

fix: lint
  README.md
  header.md
Labels: documentation

feat: hanko URL as dev.login
  dist/chunks/chunk.2NK5PHJW.js
  dist/chunks/chunk.5FZHHDGA.js
  dist/chunks/chunk.6SDZWAD6.js
  dist/chunks/chunk.ARMPXW7K.js
  dist/chunks/chunk.C4M3L7JQ.js
  dist/chunks/chunk.LFXZGORR.js
  dist/chunks/chunk.NXHCSWIR.js
  dist/chunks/chunk.OKOD2JGL.js
  dist/chunks/chunk.PSMDEZL4.js
  dist/chunks/chunk.U4WXIJS7.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/logo/logo.component.js
  dist/components/logo/logo.js
  dist/hotosm-ui.js
  src/components/header/header.component.ts
Labels: none

feat: package upgrade
  package.json
Labels: dependency

feat(dropzone): init
  .storybook/stories/dropzone.stories.ts
  src/components/dropzone/dropzone.component.ts
  src/components/dropzone/dropzone.ts
  src/hotosm-ui.ts
Labels: documentation

Horizontally aligns mobile nav items
  src/components/header/header.styles.ts
Labels: none

Give mobile header title more room to remain on one line
  src/components/header/header.styles.ts
Labels: none

.github/labeler.yml:

"devops":
  - ".github/**/*"
"dependency":
  - "package.json"
  - "pnpm-lock.yaml"
"documentation":
  - ".storybook/**/*"
  - "README.md"
