Repository hotosm/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, dependency, documentation

.github/labeler.yml:

"devops":
  - ".github/**/*"
"dependency":
  - "package.json"
  - "pnpm-lock.yaml"
"documentation":
  - ".storybook/**/*"
  - "README.md"

Add double quote to match project repo styling
  src/components/header/header.styles.ts
Labels: none

docs: add logo import alongside header import
  header.md
Labels: none

convert header and consent components to mobile first CSS and fix header padding inheritance
  .storybook/stories/header.stories.ts
  src/components/consent/consent.styles.ts
  src/components/header/header.styles.ts
Labels: documentation

small padding adjustment
  src/components/header/header.styles.ts
Labels: none

test: add Vitest setup and <hot-header> behaviour tests (Issue #150)
  package.json
  pnpm-lock.yaml
  tests/components/header.spec.ts
  tests/mocks.ts
  tests/polyfills.ts
  tests/sanity.spec.ts
  tests/setupTests.ts
  tsconfig.json
  vitest.config.ts
Labels: dependency

docs: label each issue with `repo:ui` as they are made
  .github/workflows/issue_label.yml
Labels: devops

Fix: clean up imports and remove unnecessary polyfills/mocks
  dist/chunks/chunk.3M4SJCXS.js
  dist/chunks/chunk.5FZHHDGA.js
  dist/chunks/chunk.ARMPXW7K.js
  dist/chunks/chunk.AX3WVTKH.js
  dist/chunks/chunk.DRMKJ2YA.js
  dist/chunks/chunk.GYIWYQ5F.js
  dist/chunks/chunk.IPS3O22P.js
  dist/chunks/chunk.MQ2UZ3IG.js
  dist/chunks/chunk.NXHCSWIR.js
  dist/chunks/chunk.OKOD2JGL.js
  dist/chunks/chunk.OLMINFQD.js
  dist/chunks/chunk.PSMDEZL4.js
  dist/chunks/chunk.U4WXIJS7.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/consent/consent.styles.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/header/header.styles.js
  dist/components/logo/logo.component.js
  dist/components/logo/logo.js
  dist/hotosm-ui.js
  package.json
  playwright.config.ts
  playwright/tests/header.vr.spec.ts
  playwright/vr/header.html
  pnpm-lock.yaml
  test-results/.last-run.json
  test-results/header.vr-hot-header-visual-large-without-borderBottom/error-context.md
  test-results/header.vr-hot-header-visual-login-open-state/error-context.md
  test-results/header.vr-hot-header-visual-small-borderBottom-tabs/error-context.md
  tests/components/header.spec.ts
  tests/mocks.ts
  tests/polyfills.ts
  tests/sanity.spec.ts
  tests/setupTests.ts
  tsconfig.json
  vitest.config.ts
Labels: dependency

Add webawesome and lit as external in the build process to prevent bundling peer dependencies into the library output
  dist/chunks/chunk.2NK5PHJW.js
  dist/chunks/chunk.3M4SJCXS.js
  dist/chunks/chunk.4JC6ZDSD.js
  dist/chunks/chunk.5MWUQOEM.js
  dist/chunks/chunk.6EX2DAUF.js
  dist/chunks/chunk.6HOFUZAE.js
  dist/chunks/chunk.C6I42VVF.js
  dist/chunks/chunk.CY744XLX.js
  dist/chunks/chunk.EM76X675.js
  dist/chunks/chunk.ISLIWWHN.js
  dist/chunks/chunk.KTVXG6ZT.js
  dist/chunks/chunk.LFXZGORR.js
  dist/chunks/chunk.N2W26RCT.js
  dist/chunks/chunk.N7VH3RWY.js
  dist/chunks/chunk.NXHCSWIR.js
  dist/chunks/chunk.OHYOXYF2.js
  dist/chunks/chunk.OKOD2JGL.js
  dist/chunks/chunk.PSMDEZL4.js
  dist/chunks/chunk.SZB24AFL.js
  dist/chunks/chunk.U4WXIJS7.js
  dist/chunks/chunk.V2IFZNAM.js
  dist/chunks/chunk.WAOVJ67D.js
  dist/chunks/chunk.YDAYE3EU.js
  dist/chunks/chunk.ZBHB2PSV.js
  dist/chunks/chunk.ZYCXU3RQ.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/consent/consent.styles.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/header/header.styles.js
  dist/components/icons.js
  dist/components/logo/logo.component.js
  dist/components/logo/logo.js
  dist/components/logo/logo.styles.js
  dist/components/tracking/tracking.component.js
  dist/components/tracking/tracking.js
  dist/hotosm-ui.js
  package.json
  scripts/build.js
Labels: dependency

Remove Lit from peerDependencies and switch to webawesome 3.0.0
  dist/chunks/chunk.5EPWWJMT.js
  dist/chunks/chunk.5MWUQOEM.js
  dist/chunks/chunk.B33JQQCW.js
  dist/chunks/chunk.CY4WTDL2.js
  dist/chunks/chunk.CY744XLX.js
  dist/chunks/chunk.EM76X675.js
  dist/chunks/chunk.FT6RSQVB.js
  dist/chunks/chunk.GSKD74FE.js
  dist/chunks/chunk.ISLIWWHN.js
  dist/chunks/chunk.JHIEUZ7A.js
  dist/chunks/chunk.N2W26RCT.js
  dist/chunks/chunk.RIL6J2EZ.js
  dist/chunks/chunk.SHZIJ2ZS.js
  dist/chunks/chunk.SL3SKFFE.js
  dist/chunks/chunk.SLQC3DLQ.js
  dist/chunks/chunk.SVLPRECX.js
  dist/chunks/chunk.TYOVPHVD.js
  dist/chunks/chunk.V2IFZNAM.js
  dist/chunks/chunk.WAOVJ67D.js
  dist/chunks/chunk.WSMXFTSE.js
  dist/chunks/chunk.YDAYE3EU.js
  dist/chunks/chunk.ZYCXU3RQ.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/consent/consent.styles.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/header/header.styles.js
  dist/components/icons.js
  dist/components/logo/logo.component.js
  dist/components/logo/logo.js
  dist/components/logo/logo.styles.js
  dist/components/tracking/tracking.component.js
  dist/components/tracking/tracking.js
  dist/hotosm-ui.js
  package.json
  pnpm-lock.yaml
  scripts/build.js
Labels: dependency

build: remove webawesome from depDeps entirely (peerDeps only)
  dist/chunks/chunk.2LYFUHTS.js
  dist/chunks/chunk.7M3AMUDU.js
  dist/chunks/chunk.B33JQQCW.js
  dist/chunks/chunk.GSKD74FE.js
  dist/chunks/chunk.NA3GD2QI.js
  dist/chunks/chunk.XB4PECPF.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/hotosm-ui.js
  package.json
  pnpm-lock.yaml
Labels: dependency

fix: bump --> 0.3.4b3 after moved webawesome --> peerDeps, bump to WA v3
  package.json
Labels: dependency

Add Image specific preview and separate Document upload preview
  .storybook/stories/file-input-dropzone.stories.ts
  dist/chunks/chunk.BGBB6A6Y.js
  dist/chunks/chunk.T4JVDDU7.js
  dist/chunks/chunk.TPXUZTID.js
  dist/chunks/chunk.TQWD6PRC.js
  dist/chunks/chunk.ZCA3UILA.js
  dist/chunks/chunk.ZEPQT3K2.js
  dist/components/file-input-dropzone/file-input-dropzone.component.d.ts
  dist/components/file-input-dropzone/file-input-dropzone.component.js
  dist/components/file-input-dropzone/file-input-dropzone.js
  dist/components/file-input-dropzone/file-input-dropzone.styles.js
  dist/hotosm-ui.js
  src/components/file-input-dropzone/file-input-dropzone.component.ts
Labels: documentation

Add button component with primary/neutral colors, solid/outline/ghost variants, and icon support
  .storybook/stories/button.stories.ts
  src/components/button/button.component.ts
  src/components/button/button.styles.ts
  src/components/button/button.ts
Labels: documentation

Update HOT WebAwesome Theme for consistency with hotosm-design repository. Remove some additional styling for buttons
  README.md
  dist/style.css
  examples/debug-shadow-dom.html
  examples/shadow-dom-color-injection-demo.html
  header.md
  src/style.css
  src/themes/hot-button-override.css
  src/themes/hot-wa.css
Labels: documentation

Add ListCard component
  .storybook/stories/list-card.stories.ts
  src/components/list-card/list-card.component.ts
  src/components/list-card/list-card.styles.ts
  src/components/list-card/list-card.ts
Labels: documentation

Add Icon only param to button
  src/components/button/button.component.ts
  src/components/button/button.styles.ts
Labels: none

Add image card component/storybook, upload placeholder image for demo
  .storybook/static/assets/images/thumbnail-placeholder.png
  src/components/image-card/image-card.component.ts
  src/components/image-card/image-card.styles.ts
  src/components/image-card/image-card.ts
Labels: documentation

Add image preview grid and story
  .storybook/stories/image-preview-grid.stories.ts
  src/components/image-preview-grid/image-preview-grid.component.ts
  src/components/image-preview-grid/image-preview-grid.styles.ts
  src/components/image-preview-grid/image-preview-grid.ts
Labels: documentation

Remove button component, image card, and image preview grid
  .storybook/stories/button.stories.ts
  .storybook/stories/image-preview-grid.stories.ts
  src/components/button/button.component.ts
  src/components/button/button.styles.ts
  src/components/button/button.ts
  src/components/image-card/image-card.component.ts
  src/components/image-card/image-card.styles.ts
  src/components/image-card/image-card.ts
  src/components/image-preview-grid/image-preview-grid.component.ts
  src/components/image-preview-grid/image-preview-grid.styles.ts
  src/components/image-preview-grid/image-preview-grid.ts
Labels: documentation

Migrate header tests to Vitest browser mode, update setupTests, and clean config
  package.json
  pnpm-lock.yaml
  src/components/header/header.component.ts
  tests/components/header.spec.ts
  tests/sanity.spec.ts
  tests/setupTests.ts
  vitest.config.ts
Labels: dependency

Add compact dropzone variant, styling adjustments
  .storybook/stories/file-input-dropzone.stories.ts
  src/components/file-input-dropzone/file-input-dropzone.component.ts
  src/components/file-input-dropzone/file-input-dropzone.styles.ts
  src/components/list-card/list-card.component.ts
  src/components/list-card/list-card.styles.ts
  src/hotosm-ui.ts
Labels: documentation

Remove unused static shadowRoot property from header component
  src/components/header/header.component.ts
Labels: none

clean up storybook demos
  .storybook/stories/file-input-dropzone.stories.ts
  .storybook/stories/list-card.stories.ts
Labels: documentation

Remove all font related link tags and add font imports to styles.css
  .storybook/preview-head.html
  dist/style.css
  src/style.css
Labels: documentation

Add upload example to storybook
  .storybook/stories/file-input-dropzone.stories.ts
Labels: documentation

Add accessibility and fix file format issue
  .storybook/stories/file-input-dropzone.stories.ts
  dist/hotosm-ui.d.ts
  src/components/file-input-dropzone/file-input-dropzone.component.ts
  src/components/file-input-dropzone/file-input-dropzone.styles.ts
  src/components/list-card/list-card.component.ts
  src/components/list-card/list-card.styles.ts
Labels: documentation

Apply theme to WebAwesome components nested at any depth
  src/utils/shadow-dom-css.ts
Labels: none

Run final build after changes
  dist/chunks/chunk.4MWL2ATA.js
  dist/chunks/chunk.4W2RGGSC.js
  dist/chunks/chunk.ACLRGU6E.js
  dist/chunks/chunk.BGBB6A6Y.js
  dist/chunks/chunk.JOKBE3AM.js
  dist/chunks/chunk.NO6GRZA7.js
  dist/chunks/chunk.Q4GTJRHX.js
  dist/chunks/chunk.RXTECNTF.js
  dist/chunks/chunk.SAOY6P6R.js
  dist/chunks/chunk.T3H3LO55.js
  dist/chunks/chunk.TQWD6PRC.js
  dist/chunks/chunk.YQS3OXQY.js
  dist/chunks/chunk.ZCA3UILA.js
  dist/components/file-input-dropzone/file-input-dropzone.component.d.ts
  dist/components/file-input-dropzone/file-input-dropzone.component.js
  dist/components/file-input-dropzone/file-input-dropzone.js
  dist/components/file-input-dropzone/file-input-dropzone.styles.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/list-card/list-card.component.d.ts
  dist/components/list-card/list-card.component.js
  dist/components/list-card/list-card.d.ts
  dist/components/list-card/list-card.js
  dist/components/list-card/list-card.styles.d.ts
  dist/components/list-card/list-card.styles.js
  dist/hotosm-ui.js
  dist/style.css
Labels: none

Remove unused placeholder image
  .storybook/static/assets/images/thumbnail-placeholder.png
Labels: documentation

Add GitHub Actions workflow for Vitest browser tests
  .github/workflows/playwright.yml
Labels: devops

Remove unused image thumbnail generation, add fallback to extension checking
  src/components/file-input-dropzone/file-input-dropzone.component.ts
Labels: none

Fixed the Test Workflow
  .github/workflows/playwright.yml
Labels: devops

Deprecate shadow DOM CSS injection for WebAwesome
  dist/utils/shadow-dom-css.d.ts
  src/components/header/header.component.ts
  src/utils/shadow-dom-css.ts
Labels: none

Move semantic color mappings to wa-theme section to properly override WebAwesome defaults. Use Direct HOT color vars instead of indirect WebAwesome color scale references
  src/themes/hot-wa.css
Labels: none

Add colors to match button designs
  src/themes/hot.css
Labels: none

Remove deprecated CSS injection exports
  src/hotosm-ui.ts
Labels: none

Run final build after changes
  dist/chunks/chunk.5K262G2B.js
  dist/chunks/chunk.CJEC2QBO.js
  dist/chunks/chunk.CSWMRA3U.js
  dist/chunks/chunk.JOKBE3AM.js
  dist/chunks/chunk.NHLCN33L.js
  dist/chunks/chunk.QSTM2MKP.js
  dist/chunks/chunk.RUF4EVEW.js
  dist/chunks/chunk.SAOY6P6R.js
  dist/chunks/chunk.T3H3LO55.js
  dist/chunks/chunk.WMOYTFC5.js
  dist/chunks/chunk.YQS3OXQY.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/file-input-dropzone/file-input-dropzone.component.d.ts
  dist/components/file-input-dropzone/file-input-dropzone.component.js
  dist/components/file-input-dropzone/file-input-dropzone.js
  dist/components/header/header.component.d.ts
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/hotosm-ui.d.ts
  dist/hotosm-ui.js
  dist/themes/hot-button-override.css
  dist/themes/hot-wa.css
  dist/themes/hot.css
  dist/utils/shadow-dom-css.d.ts
Labels: none

Add missing comma in coverage script in package.json
  package.json
Labels: dependency

build: ensure commitizen is on the right pkg version
  .cz.toml
Labels: none

build: fix versions defined in package.json and cz toml
  .cz.toml
  package.json
Labels: dependency
