Repository hotosm/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, dependency, documentation

docs: update link to docs site
  README.md
Labels: documentation

feat: react update for dependency issue
  package.json
Labels: dependency

feat: removed shoelace import and type reference and used only hotosm component
  src/hotosm-ui.ts
Labels: none

feat: remove shoelace type and interface
  src/hotosm-ui.ts
Labels: none

feat: implementation on header for webawesome
  src/components/header/header.component.ts
Labels: none

fix: icon with webawesome component
  src/components/header/header.component.ts
Labels: none

feat: removing react wrapper of existing component
  src/react/consent/index.ts
  src/react/header/index.ts
  src/react/logo/index.ts
  src/react/toolbar/index.ts
  src/react/tracking/index.ts
Labels: none

feat: removing react dependency from package.json
  package.json
Labels: dependency

fix: storybook dependency removal
  .storybook/stories/0_index.mdx
Labels: documentation

fix: revert back the import
  .storybook/stories/0_index.mdx
Labels: documentation

feat: add header-login oauth story
  .storybook/stories/header-login.stories.ts
Labels: documentation

feat: added png,jpg support for file import
  src/global.d.ts
Labels: none

feat: osm-logo added on oauth modal
  src/assets/logo/osm-logo.png
Labels: none

feat: add osm oauth implementation onto header component with props
  src/components/header/header.component.ts
Labels: none

feat: add osm oauth implementation onto header component with props
  src/components/header/header.component.ts
Labels: none

feat: style added for modal and header
  src/components/header/header.styles.ts
Labels: none

feat: style added for modal and header
  src/components/header/header.styles.ts
Labels: none

feat: remove popup blocker and used only redirect
  .storybook/stories/header-login.stories.ts
  src/components/header/header.component.ts
Labels: documentation

fix: oauth parameter renamed to osm oauth
  .storybook/stories/header-login.stories.ts
  src/components/header/header.component.ts
Labels: documentation

feat: added provider implementation for multiple oauth
  .storybook/stories/header-login.stories.ts
  src/components/header/header.component.ts
Labels: documentation

fix: build deployment issue excluding react folder and add js png support for entrypoints
  scripts/build.js
  tsconfig.prod.json
Labels: none

fix: build fix
  scripts/build.js
Labels: none

Revert "fix: build deployment issue excluding react folder and add js png sup…"
  scripts/build.js
  tsconfig.prod.json
Labels: none

fix: build
  .storybook/main.ts
Labels: documentation

fix: import issue on build
  src/react/consent/index.ts
  src/react/header/index.ts
  src/react/logo/index.ts
  src/react/toolbar/index.ts
  src/react/tracking/index.ts
Labels: none

fix: build changes
  scripts/build.js
Labels: none

feat: build number changed
  package.json
Labels: dependency

feat: toolbar component migrated to webawesome
  src/components/toolbar/toolbar.component.ts
Labels: none

feat: toolbary style changes
  src/components/toolbar/toolbar.styles.ts
Labels: none

feat: consent component updated to webawesome
  src/components/consent/consent.component.ts
Labels: none

docs: fix logo in readme
  README.md
Labels: documentation

feat: tracking component changes
  .storybook/stories/tracking.stories.ts
  src/components/tracking/tracking.component.ts
  src/react/tracking/index.ts
Labels: documentation

feat: remove toolbar and fix consent for webawesome
  .storybook/stories/consent.stories.ts
  .storybook/stories/toolbar.stories.ts
  CHANGELOG.md
  src/components/consent/consent.component.ts
  src/components/consent/consent.styles.ts
  src/components/toolbar/toolbar.component.ts
  src/components/toolbar/toolbar.styles.ts
  src/components/toolbar/toolbar.ts
  src/react/toolbar/index.ts
  src/themes/hot-sl.css
Labels: documentation

feat: remove import for toolbar
  src/hotosm-ui.ts
  src/react/index.ts
Labels: none

feat: updated release tag
  package.json
Labels: dependency

feat:removing shoelace imports
  .storybook/stories/consent.stories.ts
  package.json
  src/react/index.ts
  src/themes/hot-wa.css
Labels: dependency, documentation

fix: build issue
  src/components/icons.ts
Labels: none

feat: updated version for package
  package.json
Labels: dependency

fix: build fix
  .storybook/stories/tracking.stories.ts
  pnpm-lock.yaml
Labels: dependency, documentation

fix: build styles
  src/style.css
Labels: none

.github/labeler.yml:

"devops":
  - ".github/**/*"
"dependency":
  - "package.json"
  - "pnpm-lock.yaml"
"documentation":
  - ".storybook/**/*"
  - "README.md"
