Repository hotosm/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, dependency, documentation

fix(logo): add alt attribute to logo element
  src/components/logo/logo.component.ts
Labels: none

fix: add aria-label to sidebar open button
  src/components/header/header.component.ts
Labels: none

feat: replace implementation of auth in header with a <slot> for other components
  .storybook/stories/header.stories.ts
  src/components/header/header.component.ts
  tests/components/header.spec.ts
Labels: documentation

bump: version 0.8.1 → 0.9.0
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

fix(tracking): fix tracking component matomo popup correctly
  src/components/tracking/tracking.component.ts
Labels: none

test(tracking): add tests for tracking component matomo popup
  tests/components/tracking.spec.ts
  vitest.config.ts
Labels: none

bump: version 0.9.0 → 0.9.1
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

fix(tracking): real fix to component using wa-dialog instead of custom, default show
  .storybook/stories/header.stories.ts
  .storybook/stories/tracking.stories.ts
  src/components/tracking/tracking.component.ts
Labels: documentation

test: add additional test for tracking component
  tests/components/tracking.spec.ts
Labels: none

bump: version 0.9.1 → 0.9.2
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

feat: add language selector slot next to auth/login slot in header
  .gitignore
  .storybook/stories/header.stories.ts
  header.md
  src/components/header/header.component.ts
  src/components/header/header.styles.ts
  tests/components/header.spec.ts
Labels: documentation

feat: add hot-announcement component, fixes #183
  .storybook/stories/announcement.stories.ts
  src/components/announcement/announcement.component.ts
  src/components/announcement/announcement.ts
  src/hotosm-ui.ts
  tests/components/announcement.spec.ts
Labels: documentation

bump: version 0.9.2 → 0.10.0
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

fix: allow loading of remote announcement content from json
  .storybook/static/announcement.json
  .storybook/stories/announcement.stories.ts
  src/components/announcement/announcement.component.ts
  tests/components/announcement.spec.ts
Labels: documentation

bump: version 0.10.0 → 0.10.1
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

fix: allow adding links into announcement banner content
  .storybook/stories/announcement.stories.ts
  src/components/announcement/announcement.component.ts
  tests/components/announcement.spec.ts
Labels: documentation

bump: version 0.10.1 → 0.10.2
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

update wa version
  .storybook/static/test.html
  .storybook/stories/0_index.mdx
  .storybook/stories/tool-menu.stories.ts
  README.md
  examples/debug-shadow-dom.html
  examples/shadow-dom-color-injection-demo.html
  examples/simple-test.html
  header.md
  package.json
  pnpm-lock.yaml
  src/components/tool-menu/tool-menu.styles.ts
  src/style-core.css
  src/themes/hot-wa.css
Labels: dependency, documentation

remove categories and add icons in tool menu
  src/components/tool-menu/assets/icon-chatmap.svg
  src/components/tool-menu/assets/icon-drone.svg
  src/components/tool-menu/assets/icon-export.svg
  src/components/tool-menu/assets/icon-fair.svg
  src/components/tool-menu/assets/icon-field.svg
  src/components/tool-menu/assets/icon-oam.svg
  src/components/tool-menu/assets/icon-portal.svg
  src/components/tool-menu/assets/icon-tm.svg
  src/components/tool-menu/assets/icon-umap.svg
  src/components/tool-menu/tool-menu.component.ts
  tests/components/tool-menu.spec.ts
Labels: none

fix: domains for fieldtm & dronetm
  README.md
  src/components/tool-menu/tool-menu.component.ts
Labels: documentation

fix(tool-menu): tool name already rendered alongside icons, so using alt is redundant
  src/components/tool-menu/tool-menu.component.ts
Labels: none

docs: remove story workaround for webawesome bug fixed in 3.11
  .storybook/stories/tool-menu.stories.ts
Labels: documentation

test: update test to match removal of redundant alt on tool menu
  tests/components/tool-menu.spec.ts
Labels: none

refactor(tool-menu): remove redundant css after wa upgrade --> 3.11
  src/components/tool-menu/tool-menu.styles.ts
Labels: none

docs: AGPL --> GPL (it should have always been this, as it's not an application)
  LICENSE.md
  README.md
  package.json
Labels: dependency, documentation

feat: add a func to load all wa components on first page load
  package.json
  scripts/build.js
Labels: dependency

fix: remove font imports from css, fix #178
  src/style-core.css
  src/style.css
Labels: none

docs: update docs based on latest FOUC measures and import strategies
  .storybook/stories/0_index.mdx
  .storybook/stories/3_loading_strategies.mdx
  README.md
  header.md
Labels: documentation

build: revert to 0.10.2 to bump properly using cz
  package.json
Labels: dependency

bump: version 0.10.2 → 1.0.0
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

test: flaky tests on ci runners for localStorage removal
  tests/components/announcement.spec.ts
  tests/components/consent.spec.ts
  tests/components/tracking.spec.ts
Labels: none

docs: update strategy for usage in htmx / html via cdn
  .storybook/stories/0_index.mdx
  .storybook/stories/3_loading_strategies.mdx
  README.md
  header.md
Labels: documentation

fix(header): improve functionality of header active tab highlighting
  .storybook/stories/header.stories.ts
  header.md
  src/components/header/header.component.ts
  tests/components/header.spec.ts
Labels: documentation

fix(header): improvements to correctness of impl, esp the nav active underline
  .storybook/stories/header.stories.ts
  header.md
  src/components/header/header.component.ts
  src/components/header/header.styles.ts
  tests/components/header.spec.ts
Labels: documentation

bump: version 1.0.0 → 1.0.1
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

refactor: entirely remove webfonts and rely on system-sans
  .storybook/stories/2_typography.mdx
  README.md
  src/themes/hot.css
Labels: documentation

bump: version 1.0.1 → 2.0.0
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

fix: remove deprecated usage of long form wa-button sizes
  .storybook/stories/header.stories.ts
  README.md
  examples/shadow-dom-color-injection-demo.html
  examples/shadow-dom-css-demo.html
  header.md
  src/components/announcement/announcement.component.ts
  src/components/consent/consent.component.ts
  src/components/header/header.component.ts
  src/components/header/header.styles.ts
  src/components/tracking/tracking.component.ts
  tests/components/header.spec.ts
Labels: documentation

bump: version 2.0.0 → 2.1.0
  .cz.toml
  CHANGELOG.md
  package.json
Labels: dependency

refactor: update hotosm-tool-menu --> hot-tool-menu and deprecate old name
  .storybook/stories/tool-menu.stories.ts
  src/components/tool-menu/tool-menu.ts
  tests/components/tool-menu.spec.ts
Labels: documentation

.github/labeler.yml:

"devops":
  - ".github/**/*"
"dependency":
  - "package.json"
  - "pnpm-lock.yaml"
"documentation":
  - ".storybook/**/*"
  - "README.md"
