Repository hotosm/ui, changes with the labels that .github/labeler.yml gives for each.
All labels: devops, dependency, documentation

fix: build issue
  .storybook/stories/0_index.mdx
Labels: documentation

fix: build change to npm having issue with pnpm
  .github/workflows/cdn_deploy.yml
  .github/workflows/publish.yml
Labels: devops

fix: build fix
  .github/workflows/cdn_deploy.yml
  .github/workflows/publish.yml
  osm-auth-check/index.html
Labels: devops

fix: pnpm lock file
  pnpm-lock.yaml
Labels: dependency

fix: update package.json version package
  package.json
Labels: dependency

feat: package upgrade in package.json
  package.json
Labels: dependency

fix: deleted dist file for new dist
  dist/assets/logo/hot-logo-icon.svg
  dist/assets/logo/hot-logo-png.png
  dist/assets/logo/hot-logo-text.svg
  dist/chunks/chunk.KTVXG6ZT.js
  dist/components/consent/consent.component.d.ts
  dist/components/consent/consent.component.js
  dist/components/consent/consent.d.ts
  dist/components/consent/consent.js
  dist/components/consent/consent.styles.d.ts
  dist/components/consent/consent.styles.js
  dist/components/header/header.component.d.ts
  dist/components/header/header.component.js
  dist/components/header/header.d.ts
  dist/components/header/header.js
  dist/components/header/header.styles.d.ts
  dist/components/header/header.styles.js
  dist/components/icons.d.ts
  dist/components/icons.js
  dist/components/logo/logo.component.d.ts
  dist/components/logo/logo.component.js
  dist/components/logo/logo.d.ts
  dist/components/logo/logo.js
  dist/components/logo/logo.styles.d.ts
  dist/components/logo/logo.styles.js
  dist/components/tracking/tracking.component.d.ts
  dist/components/tracking/tracking.component.js
  dist/components/tracking/tracking.d.ts
  dist/components/tracking/tracking.js
  dist/hotosm-ui.d.ts
  dist/hotosm-ui.js
  dist/react/consent/index.js
  dist/react/header/index.js
  dist/react/index.js
  dist/react/logo/index.js
  dist/react/tracking/index.js
  dist/style.css
  dist/themes/hot.css
Labels: none

feat: updated version
  package.json
Labels: dependency

feat: fix build script for single script and cross platform support for cp
  package.json
Labels: dependency

feat: build script updated to single build command instead of multiple cross platform
  scripts/build.js
Labels: none

feat: osm oauth html to host and check webcomponent integration
  osm-auth-check/index.html
Labels: none

feat: upgrade package version
  package.json
Labels: dependency

fix: replace webawesome cdn imports with es6 imports
  package.json
  pnpm-lock.yaml
  src/components/consent/consent.component.ts
  src/components/header/header.component.ts
  src/components/tracking/tracking.component.ts
  src/react/consent/index.ts
  src/react/header/index.ts
  src/react/index.ts
  src/react/logo/index.ts
  src/react/tracking/index.ts
Labels: dependency

build: bump package for beta 0.3.1-b2
  package.json
Labels: dependency

fix: avoid double web component registration with check first
  .storybook/stories/bottom-sheet.stories.ts
  dist/chunks/button.LEHBRWP3.js
  dist/chunks/callout.USQGOL5A.js
  dist/chunks/chunk.3Y46BCZT.js
  dist/chunks/chunk.54RIFX2M.js
  dist/chunks/chunk.7VBX4GII.js
  dist/chunks/chunk.BPVA67NM.js
  dist/chunks/chunk.FIQQYKEP.js
  dist/chunks/chunk.IWVLJ74K.js
  dist/chunks/chunk.KPZVTN5G.js
  dist/chunks/chunk.OHRBDQCO.js
  dist/chunks/chunk.PE4OKGWW.js
  dist/chunks/chunk.TFICHQZE.js
  dist/chunks/chunk.XCJG4HAO.js
  dist/chunks/dialog.7CZCE2KM.js
  dist/chunks/icon.ZB6BUFKB.js
  dist/chunks/tab-group.JN54CODM.js
  dist/components/consent/consent.component.d.ts
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/header/header.component.d.ts
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/tracking/tracking.component.d.ts
  dist/components/tracking/tracking.component.js
  dist/components/tracking/tracking.js
  dist/hotosm-ui.js
  src/components/consent/consent.component.ts
  src/components/header/header.component.ts
  src/components/tracking/tracking.component.ts
Labels: documentation

build: bump package version for next release
  package.json
Labels: dependency

fix: replace deprecated wa-icon-button
  dist/chunks/button.LEHBRWP3.js
  dist/chunks/button.QMPBLQB7.js
  dist/chunks/chunk.BPVA67NM.js
  dist/chunks/chunk.I26W4NHZ.js
  dist/chunks/chunk.NQHNA5TA.js
  dist/chunks/chunk.OVCI43FD.js
  dist/chunks/chunk.XAMKQWQ3.js
  dist/chunks/dialog.ZJLYCG4P.js
  dist/chunks/tab-group.M6XGU33J.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/tracking/tracking.component.js
  dist/components/tracking/tracking.js
  dist/hotosm-ui.js
  src/components/header/header.component.ts
Labels: none

build: bump version latest beta
  package.json
Labels: dependency

fix: move customElement registration to main component import (allow header.component.js for no reg)
  src/components/consent/consent.component.ts
  src/components/consent/consent.ts
  src/components/header/header.component.ts
  src/components/header/header.ts
  src/components/logo/logo.component.ts
  src/components/logo/logo.ts
  src/components/tracking/tracking.component.ts
  src/components/tracking/tracking.ts
Labels: none

fix: remove custom registration logic (not working)
  package.json
  src/components/consent/consent.component.ts
  src/components/header/header.component.ts
  src/components/tracking/tracking.component.ts
Labels: dependency

build: build latest dist
  dist/chunks/button.QMPBLQB7.js
  dist/chunks/chunk.2MK55PUE.js
  dist/chunks/chunk.3NBBS2A2.js
  dist/chunks/chunk.4YLAIDAG.js
  dist/chunks/chunk.7RJ72M75.js
  dist/chunks/chunk.7VBX4GII.js
  dist/chunks/chunk.FIQQYKEP.js
  dist/chunks/chunk.I26W4NHZ.js
  dist/chunks/chunk.MIYFUINI.js
  dist/chunks/chunk.OHRBDQCO.js
  dist/chunks/chunk.OVCI43FD.js
  dist/chunks/chunk.PDLGEB7T.js
  dist/chunks/chunk.TFICHQZE.js
  dist/chunks/chunk.V7FZQXWL.js
  dist/chunks/chunk.XAMKQWQ3.js
  dist/chunks/dialog.ZJLYCG4P.js
  dist/chunks/icon.ZB6BUFKB.js
  dist/chunks/tab-group.M6XGU33J.js
  dist/components/consent/consent.component.d.ts
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/header/header.component.d.ts
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/logo/logo.component.js
  dist/components/logo/logo.js
  dist/components/tracking/tracking.component.d.ts
  dist/components/tracking/tracking.component.js
  dist/components/tracking/tracking.js
  dist/hotosm-ui.js
Labels: none

fix: update exports and fix storybook component loading
  .storybook/stories/0_index.mdx
  README.md
  src/components/consent/consent.ts
  src/components/header/header.ts
  src/components/logo/logo.ts
  src/components/tracking/tracking.ts
  src/hotosm-ui.ts
Labels: documentation

fix: error on header if no tabs are set
  src/components/header/header.component.ts
Labels: none

docs: move osm header login test to static for storybook
  .storybook/static/osm-auth-test/index.html
  .storybook/stories/header-login.stories.ts
Labels: documentation

fix: update css to match new webawesome override conventions
  README.md
  src/style.css
  src/themes/hot-wa-override.css
  src/themes/hot-wa.css
  src/themes/hot.css
Labels: documentation

build: rebuild and bump to v0.3.1-b6
  dist/chunks/chunk.456NATDG.js
  dist/chunks/chunk.AIZM63SF.js
  dist/chunks/chunk.BM3GXGCS.js
  dist/chunks/chunk.SZ46YTWY.js
  dist/chunks/chunk.YYEOK7MA.js
  dist/components/consent/consent.d.ts
  dist/components/consent/consent.js
  dist/components/header/header.component.js
  dist/components/header/header.d.ts
  dist/components/header/header.js
  dist/components/logo/logo.d.ts
  dist/components/logo/logo.js
  dist/components/tracking/tracking.d.ts
  dist/components/tracking/tracking.js
  dist/hotosm-ui.d.ts
  dist/hotosm-ui.js
  dist/style.css
  dist/themes/hot-wa-override.css
  dist/themes/hot-wa.css
  dist/themes/hot.css
  package.json
Labels: dependency

fix: add classes to root html tag for storybook webawesome
  .storybook/preview-head.html
  .storybook/static/osm-auth-test/index.html
Labels: documentation

feat: add console log
  src/components/icons.ts
Labels: none

feat: dist build added for new update
  dist/chunks/chunk.456NATDG.js
  dist/chunks/chunk.BM3GXGCS.js
  dist/chunks/chunk.CS56NBTQ.js
  dist/chunks/chunk.D2BMH7HD.js
  dist/chunks/chunk.EPRR7SLL.js
  dist/chunks/chunk.LPSHZWUY.js
  dist/chunks/chunk.SVJY4SS3.js
  dist/chunks/chunk.UYOJKKGV.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/tracking/tracking.component.js
  dist/components/tracking/tracking.js
  dist/hotosm-ui.js
  package.json
Labels: dependency

feat: add css for neutral variable and build new
  .storybook/preview-head.html
  dist/chunks/chunk.456NATDG.js
  dist/chunks/chunk.AP2LRWVP.js
  dist/chunks/chunk.AUBRGELY.js
  dist/chunks/chunk.EPRR7SLL.js
  dist/chunks/chunk.MIYFUINI.js
  dist/chunks/chunk.UYOJKKGV.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/hotosm-ui.js
  dist/themes/hot.css
  package.json
  src/themes/hot.css
Labels: dependency, documentation

fix: add custom declaration for component types in React >19
  dist/components/consent/consent.d.ts
  dist/components/header/header.d.ts
  dist/components/logo/logo.d.ts
  dist/components/tracking/tracking.d.ts
Labels: none

feat: fix styling for header button
  dist/chunks/chunk.AP2LRWVP.js
  dist/chunks/chunk.CNARC7G7.js
  dist/chunks/chunk.HCXPZJU6.js
  dist/chunks/chunk.HTYJKOJL.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/header/header.styles.js
  dist/hotosm-ui.js
  package.json
  src/components/header/header.styles.ts
Labels: dependency

feat add override for webawesome component
  dist/themes/hot-wa-override.css
  package.json
  src/themes/hot-wa-override.css
Labels: dependency

fix: styling fix
  dist/chunks/chunk.456NATDG.js
  dist/chunks/chunk.5F5JALRB.js
  dist/chunks/chunk.CNARC7G7.js
  dist/chunks/chunk.CS56NBTQ.js
  dist/chunks/chunk.H4QL3V4P.js
  dist/chunks/chunk.UYOJKKGV.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/hotosm-ui.js
  dist/themes/hot-wa-override.css
  src/themes/hot-wa-override.css
Labels: none

fix changed package versioning
  package.json
Labels: dependency

feat: add custom button component to integrate in header with button story addition
  .storybook/stories/button.mdx
  .storybook/stories/button.stories.ts
  .storybook/stories/header.stories.ts
  dist/chunks/chunk.6YSBNYKD.js
  dist/chunks/chunk.D2BMH7HD.js
  dist/chunks/chunk.H4QL3V4P.js
  dist/chunks/chunk.H5ZQREL2.js
  dist/chunks/chunk.HDZFWGNV.js
  dist/chunks/chunk.IU7P7RMD.js
  dist/chunks/chunk.O2GMJYSL.js
  dist/chunks/chunk.O6Q54UVK.js
  dist/chunks/chunk.U4GEH6YR.js
  dist/chunks/chunk.UNSJMT66.js
  dist/chunks/chunk.VOBHDN5R.js
  dist/components/button/button.component.d.ts
  dist/components/button/button.component.js
  dist/components/button/button.d.ts
  dist/components/button/button.js
  dist/components/button/button.styles.d.ts
  dist/components/button/button.styles.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.js
  dist/components/header/header.component.d.ts
  dist/components/header/header.component.js
  dist/components/header/header.js
  dist/components/header/header.styles.js
  dist/components/tracking/tracking.component.js
  dist/components/tracking/tracking.js
  dist/hotosm-ui.d.ts
  dist/hotosm-ui.js
  src/components/button/button.component.ts
  src/components/button/button.styles.ts
  src/components/button/button.ts
  src/components/header/header.component.ts
  src/components/header/header.styles.ts
  src/hotosm-ui.ts
Labels: documentation

feat: package.json version updated
  package.json
Labels: dependency

feat: add hanko auth component to login modal
  package.json
  pnpm-lock.yaml
  src/components/header/header.component.ts
  src/components/header/header.styles.ts
Labels: dependency

feat: start adding hanko-auth to login popup
  dist/assets/logo/osm-logo.png
  dist/assets/logo/osm-logo.svg
  dist/chunks/chunk.CS444ZXM.js
  dist/chunks/chunk.EMBNMR2N.js
  dist/chunks/chunk.EROFXAZH.js
  dist/chunks/chunk.HQE63XEZ.js
  dist/chunks/chunk.IU7P7RMD.js
  dist/chunks/chunk.O6Q54UVK.js
  dist/chunks/chunk.QT57GV7H.js
  dist/chunks/chunk.VOBHDN5R.js
  dist/components/button/button.component.js
  dist/components/button/button.js
  dist/components/consent/consent.component.js
  dist/components/consent/consent.d.ts
  dist/components/consent/consent.js
  dist/components/header/header.component.d.ts
  dist/components/header/header.component.js
  dist/components/header/header.d.ts
  dist/components/header/header.js
  dist/components/header/header.styles.js
  dist/components/logo/logo.d.ts
  dist/components/tracking/tracking.component.js
  dist/components/tracking/tracking.d.ts
  dist/components/tracking/tracking.js
  dist/hotosm-ui.js
  package.json
  pnpm-lock.yaml
  src/assets/logo/osm-logo.png
  src/assets/logo/osm-logo.svg
  src/components/header/header.component.ts
  src/global.d.ts
Labels: dependency

build: bump version
  package.json
Labels: dependency

.github/labeler.yml:

"devops":
  - ".github/**/*"
"dependency":
  - "package.json"
  - "pnpm-lock.yaml"
"documentation":
  - ".storybook/**/*"
  - "README.md"
